<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RelativeXpathBasic">
  <test thread-count="5" name="BankManagerLoginTest">
    <classes>
      
      <class name="com.qa.testcases.BankManagerLoginTest"/>
   
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="AddCustomerTest">
    <classes>
      <class name="com.qa.testcases.AddCustomerTest"/>
    </classes>
  </test>

  <test thread-count="5" name="OpenAccountTest">
    <classes>
      <class name="com.qa.testcases.OpenAccountTest"/>
    </classes>
  </test>
  
<!--   <test thread-count="5" name="VerifyCustList"> -->
<!--     <classes> -->
<!--       <class name="com.qa.testcases.VerifyCustList"/> -->
<!--     </classes> -->
<!--   </test> -->
  
<!--   <test thread-count="5" name="CustomerLogin"> -->
<!--     <classes> -->
<!--       <class name="com.qa.testcases.CustomerLogin"/> -->
<!--     </classes> -->
<!--   </test> -->
  
<!--   <test thread-count="5" name="DopositAmount"> -->
<!--     <classes> -->
<!--       <class name="com.qa.testcases.DopositAmount"/> -->
<!--     </classes> -->
<!--   </test> -->
  
<!--   <test thread-count="5" name="withdrawlAmount"> -->
<!--     <classes> -->
<!--       <class name="com.qa.testcases.withdrawlAmount"/> -->
<!--     </classes> -->
<!--   </test> -->
  
<!--   <test thread-count="5" name="LogOutCustomer"> -->
<!--     <classes> -->
<!--       <class name="com.qa.testcases.LogOutCustomer"/> -->
<!--     </classes> -->
<!--   </test>--> -->

</suite> <!-- Suite -->
